# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
BothRun2/Temp/UnityLockfile
BothRun2/Assembly-CSharp-Editor-vs.csproj
BothRun2/BothRun2.sln
BothRun2/Library/shadercompiler-1.log
BothRun2/Assembly-CSharp-Editor-vs.csproj
BothRun2/Assembly-CSharp-Editor-vs.csproj
BothRun2/Assembly-CSharp-Editor-vs.csproj
BothRun2/BothRun2-csharp.sln
BothRun2/Temp/UnityTempFile-3c7d2d3354c073d43896a7fda3dfe092
BothRun2/Library/shadercompiler-1.log
BothRun2/BothRun2-csharp.sln
BothRun2/Temp/UnityTempFile-562c09e2c2747bd42b07a33bf3f592e0
BothRun2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.log
*.mdb
*.mdb
*.cache
*.log
BothRun2/Library/ScriptAssemblies/Assembly-CSharp.dll
BothRun2/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
*.mdb
*.sln
BothRun2/Temp*
